#sideNav {
    position: fixed;
    z-index: 1000;
}

.sideNavButton {
    cursor: pointer;
    background-color: #999999;
    -webkit-transition: background-color 0.8s linear;
    -moz-transition: background-color 0.8s linear;
    -o-transition: background-color 0.8s linear;
    -ms-transition: background-color 0.8s linear;
    transition: background-color 0.8s linear;
}

a:hover .sideNavButton {
    background-color: #5E5E5E;
}

.sideNavButtonChecked0 {
    background-color: #009393;
}

.sideNavButtonChecked1 {
    background-color: #CB0000;
}

.sideNavButtonChecked2 {
    background-color: #333333;
}

@media screen and (min-width: 1280px) {
    #sideNav {
        top: calc(50% - 49px);
        /*background-color: #1c3e95;*/
        width: 14px;
        height: 98px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
}

@media screen and (min-width: 1280px) and (max-height: 300px) {
    #sideNav {
        display: none;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) and (orientation:landscape) {
    #sideNav {
        top: calc(50% - 70px);
        /*background-color: #1c3e95;*/
        width: 19px;
        height: 140px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 15px;
        height: 15px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) and (orientation:landscape) and (max-height: 494px) {
    #sideNav {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation:portrait) {
    #sideNav {
        top: calc(50% - 49px);
        /*background-color: #1c3e95;*/
        width: 14px;
        height: 98px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation:portrait) and (max-height: 494px) {
    #sideNav {
        display: none;
    }
}

@media screen and (min-width: 736px) and (max-width:1023px) and (orientation:landscape) {
    #sideNav {
        display: none;
        top: calc(50% - 49px);
        /*background-color: #1c3e95;*/
        width: 14px;
        height: 98px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
    .sideNavButtonInternal {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (min-width: 414px) and (max-width:767px) and (orientation:portrait) {
    #sideNav {
        display: none;
        top: calc(50% - 49px);
        /*background-color: #1c3e95;*/
        width: 14px;
        height: 98px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
    .sideNavButtonInternal {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:735px) and (orientation:landscape) {
    #sideNav {
        display: none;
        top: calc(50% - 49px);
        /*background-color: #1c3e95;*/
        width: 14px;
        height: 98px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
}

@media screen and (max-width:413px) and (orientation:portrait) {
    #sideNav {
        display: none;
        top: calc(50% - 49px);
        /*background-color: #1c3e95;*/
        width: 14px;
        height: 98px;
        left: 43px;
    }
    .sideNavButton {
        border: 1px solid #FFFFFF;
        width: 10px;
        height: 10px;
        box-shadow: 0 0 0 1px #1D1D1B;
    }
}