h1 a {
    color: #000000;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    -ms-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

h1 a:hover {
    color: #717171;
}

article {
    border-left-width: 10px;
    border-left-style: solid;
    border-left-color: #009393;
}

article p {
    text-align: justify;
}

article a:hover {
    color: #dd1b1b;
}

.subtitle {
    font-style: italic;
}

#skills {
    border-left-color: #7F44FF;
}

#languages {
    border-left-color: #FF7B22;
}

#education {
    border-left-color: #00AF85;
}

#spaceHeader {
    width: 100%;
}

#spaceFooter {
    width: 100%;
}

@media screen and (min-width: 1280px) {
    .firstArticle {
        margin-top: 100px;
    }
    article {
        width: 800px;
        padding-left: 30px;
        margin-bottom: 100px;
    }
    h1 {
        font-size: 30px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1pt;
        margin-top: 20px;
        margin-bottom: 20px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 81px;
    }
    #spaceFooter {
        height: 50px;
    }
}

@media screen and (min-width: 1024px) and (max-width:1279px) and (orientation:landscape) {
    .firstArticle {
        margin-top: 100px;
    }
    article {
        width: 80%;
        padding-left: 30px;
        margin-bottom: 100px;
    }
    h1 {
        font-size: 30px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1pt;
        margin-top: 20px;
        margin-bottom: 20px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 81px;
    }
    #spaceFooter {
        height: 50px;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation:portrait) {
    .firstArticle {
        margin-top: 80px;
    }
    article {
        width: 78%;
        padding-left: 30px;
        margin-bottom: 100px;
    }
    h1 {
        font-size: 30px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1pt;
        margin-top: 20px;
        margin-bottom: 20px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 81px;
    }
    #spaceFooter {
        height: 50px;
    }
}

@media screen and (min-width: 736px) and (max-width:1023px) and (orientation:landscape) {
    .firstArticle {
        margin-top: 40px;
        /*background-color: #003580;*/
    }
    article {
        width: 80%;
        padding-left: 10px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 25px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.5pt;
        margin-top: 20px;
        margin-bottom: 20px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 81px;
    }
    #spaceFooter {
        height: 40px;
    }
}

@media screen and (min-width: 414px) and (max-width:767px) and (orientation:portrait) {
    .firstArticle {
        margin-top: 40px;
    }
    article {
        width: 85%;
        padding-left: 10px;
        margin-bottom: 50px;
    }
    h1 {
        font-size: 25px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 15px;
        line-height: 20px;
        letter-spacing: 0.5pt;
        margin-top: 20px;
        margin-bottom: 20px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 81px;
    }
    #spaceFooter {
        height: 40px;
    }
}

@media screen and (max-width:735px) and (orientation:landscape) {
    .firstArticle {
        margin-top: 20px;
    }
    article {
        width: 85%;
        padding-left: 10px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 21px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5pt;
        margin-top: 20px;
        margin-bottom: 20px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 81px;
    }
    #spaceFooter {
        height: 20px;
    }
}

@media screen and (max-width:413px) and (orientation:portrait) {
    .firstArticle {
        margin-top: 20px;
        /*background-color: #003580;*/
    }
    article {
        width: 85%;
        padding-left: 10px;
        margin-bottom: 30px;
    }
    h1 {
        font-size: 19px;
        letter-spacing: 1pt;
        text-transform: uppercase;
    }
    article p {
        font-size: 13px;
        line-height: 20px;
        letter-spacing: 0.5pt;
        margin-top: 15px;
        margin-bottom: 15px;
        /*background-color: green;*/
    }
    #spaceHeader {
        height: 61px;
    }
    #spaceFooter {
        height: 20px;
    }
}