/*-------------------------------------------------Main Content-------------------------------------------------------*/

.firstArticle{
    margin-top: 40px;
    /*background-color: #003580;*/
}

article{
    width:80%;
    padding-left: 10px;
}
.internalArticle{
    margin-top: 50px;
    margin-bottom:50px;
}
h1{
    font-size: 25px;
    letter-spacing: 1pt;
    text-transform: uppercase;
}
article p{
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.5pt;
    margin-top: 25px;
    margin-bottom: 25px;
    /*background-color: green;*/
}