/*-------------------------------------------------Main Content-------------------------------------------------------*/

.firstArticle{
    margin-top: 20px;
    /*background-color: #003580;*/
}

article{
    width:85%;
    padding-left: 10px;
}
.internalArticle{
    margin-top: 30px;
    margin-bottom:30px;
}
h1{
    font-size: 19px;
    letter-spacing: 1pt;
    text-transform: uppercase;
}
article p{
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.5pt;
    margin-top: 16px;
    margin-bottom: 16px;
    /*background-color: green;*/
}