/*-------------------------------------------------Main Content-------------------------------------------------------*/

article time{
    font-size: 15px;
    vertical-align: bottom;
    letter-spacing: 1pt;
}