<main>
    <div class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter blurred">
        <div id="spaceHeader">
        </div>

        <!--Put anything relevant below this line-->

        <article id="skills" class="firstArticle">

            <h1 class="font-Roboto-B">skills</h1>
            <p class="font-Roboto-L">
                <span class="subtitle font-Roboto-B">Programming:</span> JavaScript – JQuery - HTML5 – CSS3 - PHP – SQL – GSAP JS – Various JavaScript plugins<br><br>
                <span class="subtitle font-Roboto-B">DBMS:</span> MySQL<br><br>
                <span class="subtitle font-Roboto-B">Front-end Framework:</span> Bootstrap<br><br>
                <span class="subtitle font-Roboto-B">IDE:</span> Visual Studio 2013 - PhpStorm<br><br>
                <span class="subtitle font-Roboto-B">CMS:</span> WordPress<br><br>
                <span class="subtitle font-Roboto-B">Version Control:</span> Git (via GitHub) - Team Foundation (via TFS)<br><br>
                <span class="subtitle font-Roboto-B">Office Software:</span> Word – Excel – Power Point<br><br>
                <span class="subtitle font-Roboto-B">Graphics Software:</span> Photoshop – Illustrator – InDesign – Premiere Pro – Affinity Designer – Affinity Photo<br><br>
                <span class="subtitle font-Roboto-B">OS:</span> Windows – Mac - Linux
            </p>
        </article>

        <article id="languages" class="internalArticle">

            <h1 class="font-Roboto-B">languages</h1>
            <p class="font-Roboto-L">
                <span class="subtitle font-Roboto-B">English:</span> Independent - Cambridge ESOL First Certificate in English<br><br>
                <span class="subtitle font-Roboto-B">Italian:</span> Mother tongue
            </p>

        </article>

        <article id="education">

            <h1 class="font-Roboto-B">education</h1>
            <p class="font-Roboto-L">
                <span class="subtitle font-Roboto-B">2011:</span> Bachelor’s Degree in Civil Engineering<br><br>
                <span class="subtitle font-Roboto-B">2007:</span> Master’s Degree in Architectural Engineering<br><br>
                <span class="subtitle font-Roboto-B">1997:</span> BTEC Level 3 Extended Diploma in IT and Computing
            </p>
        </article>

        <!--Put anything relevant above this line-->

        <div id="spaceFooter">
        </div>
    </div>
</main>