<main class="grad">
    <div class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter blurred">
        <div id="spaceHeader">
        </div>

        <!--Put anything relevant below this line-->
        <div id="contactWrap" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowWrap">
            <div id="contactLinks" class="flexContainer flexContainerColumn">
                <div class="contactsTitle font-Roboto-L">
                    <div>get in touch with me</div>
                </div>
                <div id="socialContainerContacts" class="flexContainer flexContainerRow flexContainerRowHAlignSpaceAround flexContainerRowVAlignCenter">
                    <a href="https://github.com/Giorgio-IMAGINARIA/" target="_blank">
                        <div [GSAPBounce]="'parent'" class="socialWrapContacts">
                            <gitHubLogo></gitHubLogo>
                        </div>
                    </a>
                    <a href="http://uk.linkedin.com/pub/giorgio-mazzei/35/b01/a26" target="_blank">
                        <div [GSAPBounce]="'parent'" class="socialWrapContacts">
                            <linkedInLogo></linkedInLogo>
                        </div>
                    </a>
                    <a href="https://twitter.com/giorgiomazzei79" target="_blank">
                        <div [GSAPBounce]="'parent'" class="socialWrapContacts">
                            <faceBookLogo></faceBookLogo>
                        </div>
                    </a>
                </div>
                <div id="meet" class="contactsTitle font-Roboto-L">
                    <div>meet me in london</div>
                </div>
                <div id="map">
                    <div id="mapFrame">
                    </div>
                </div>
            </div>
            <div id="contactForm">
                <div class="contactsTitle font-Roboto-L">
                    <div>send me a message</div>
                </div>
                <form method="post" class="font-Roboto-L flexContainer flexContainerColumn">
                    <label for="name">Name <span>(required)</span></label>
                    <input type="text" name="name" /><br />
                    <label for="number">Contact Number</label>
                    <input type="text" name="number" /><br />
                    <label for="email">Email Address <span>(required)</span></label>
                    <input type="text" name="email" /><br />
                    <label for="message">Message <span>(required)</span></label>
                    <textarea name="message"></textarea><br/>
                    <input [GSAPBounce]="'sameElement'" type="submit" value="SUBMIT" name="submit" class="flexChildrenInColumnAlignRight" />
                </form>
            </div>
        </div>
        <div id="spaceFooter">
        </div>
    </div>
</main>