<main [@toBlur]="blurStateString" class="grad">
    <div class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter blurred">
        <div id="spaceHeader">
        </div>

        <!--Put anything relevant below this line-->
        <div id="contactWrap" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowWrap">
            <div id="contactLinks" class="flexContainer flexContainerColumn">
                <div class="contactsTitle font-Roboto-L">
                    <div>get in touch with me</div>
                </div>
                <div id="socialContainerContacts" class="flexContainer flexContainerRow flexContainerRowHAlignSpaceAround flexContainerRowVAlignCenter">
                    <a href="https://github.com/Giorgio-IMAGINARIA/" target="_blank">
                        <div [GSAPBounce]="'parent'" class="socialWrapContacts">
                            <gitHubLogo></gitHubLogo>
                        </div>
                    </a>
                    <a href="http://uk.linkedin.com/pub/giorgio-mazzei/35/b01/a26" target="_blank">
                        <div [GSAPBounce]="'parent'" class="socialWrapContacts">
                            <linkedInLogo></linkedInLogo>
                        </div>
                    </a>
                    <a href="https://www.facebook.com/giorgio.mazzei.7737" target="_blank">
                        <div [GSAPBounce]="'parent'" class="socialWrapContacts">
                            <faceBookLogo></faceBookLogo>
                        </div>
                    </a>
                </div>
                <div id="meet" class="contactsTitle font-Roboto-L">
                    <div>meet me in london</div>
                </div>
              <div id="map"></div>
            </div>
            <div id="contactForm">
                <div class="contactsTitle font-Roboto-L">
                    <div>send me a message</div>
                </div>
                <form action="" (ngSubmit)="onSubmit()" #contactForm="ngForm" class="font-Roboto-L flexContainer flexContainerColumn flexContainerRowHAlignSpaceBetween">
                    <label for="name">Name <span>(required)</span></label>
                    <input required type="text" [(ngModel)]="model.name" name="name" #name="ngModel" />
                    <!--<br/>-->
                    <label for="number">Contact Number</label>
                    <input type="text" [(ngModel)]="model.phone" name="phone" />
                    <!--<br/>-->
                    <label for="email">Email Address <span>(valid/required)</span></label>
                    <input required type="text" [(ngModel)]="model.email" name="email" #name="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,63}$" />
                    <!--<br/>-->
                    <label for="message">Message <span>(required)</span></label>
                    <textarea required [(ngModel)]="model.message" name="message" #name="ngModel"></textarea>
                    <!--<br/>-->
                    <button [disabled]="!contactForm.form.valid" [GSAPBounce]="'sameElement'" type="submit" name="submit" class="flexChildrenInColumnAlignRight">SUBMIT</button>
                </form>
            </div>
        </div>
        <div id="spaceFooter">
        </div>
    </div>
</main>