<div id="sideNav" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter flexContainerColumnSpaceBetween blurred">
    <a [@toBlur]="blurStateString">
        <div id="sideNavButton0" (click)="changeProject(0)" class="sideNavButton sideNavButtonChecked0"> </div>
    </a>
    <a [@toBlur]="blurStateString">
        <div id="sideNavButton1" (click)="changeProject(1)" class="sideNavButton"> </div>
    </a>
    <a [@toBlur]="blurStateString">
        <div id="sideNavButton2" (click)="changeProject(2)" class="sideNavButton"> </div>
    </a>
</div>