<dots></dots>
<main [@toBlur]="blurStateString">
    <div *ngIf="projectSlideBefore" id="projectSlideBefore" class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" #projectSectionBefore>
        <a href={{beforeProjectlink}} target="_blank">
            <div id="pos0TitlePanel" class="projectTitlePanel flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                <div class="panelTitleWrap flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <p class="font-Roboto-L">{{beforeProjectDescription}}</p>
                </div>
                <div class="innerPanelSpace"> </div>
                <div id="innerPanelLine0" class="innerPanelLine"> </div>
                <div class="innerPanelSpace"> </div>
                <div class="mainTitleContainer flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <div class="mainTitleInnerContainer flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                        <div class="titleWrap flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                            <p class="font-Economica-N">{{beforeProjectTitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" #projectSection>
        <a href={{currentProjectlink}} target="_blank">
            <div id="pos0TitlePanel" class="projectTitlePanel flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                <div class="panelTitleWrap flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <p class="font-Roboto-L">{{currentProjectDescription}}</p>
                </div>
                <div class="innerPanelSpace"> </div>
                <div id="innerPanelLine0" class="innerPanelLine"> </div>
                <div class="innerPanelSpace"> </div>
                <div class="mainTitleContainer flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <div class="mainTitleInnerContainer flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                        <div class="titleWrap flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                            <p class="font-Economica-N">{{currentProjectTitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>


    <div *ngIf="projectSlideAfter" class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" #projectSectionAfter>
        <a href={{afterProjectlink}} target="_blank">
            <div id="pos0TitlePanel" class="projectTitlePanel flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                <div class="panelTitleWrap flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <p class="font-Roboto-L">{{afterProjectDescription}}</p>
                </div>
                <div class="innerPanelSpace"> </div>
                <div id="innerPanelLine0" class="innerPanelLine"> </div>
                <div class="innerPanelSpace"> </div>
                <div class="mainTitleContainer flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <div class="mainTitleInnerContainer flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                        <div class="titleWrap flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                            <p class="font-Economica-N">{{afterProjectTitle}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>



</main>