<dots></dots>
<div id="contentsReserve">
    <div class="section" id="section0">
        <div id="homeStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter">
            <a href="/About/about.html" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter">
                <div id="homeTitle" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter font-Roboto-L"> imaginaria </div>
                <div id="homeLine"> </div>
                <div id="homeComment" class="font-Roboto-L">
                    <p>A portfolio of <span class="homeHighlighted">Giorgio Mazzei</span>, a front end web developer with skills and knowledge encompassing all the last web technologies, looking forward to <span class="homeHighlighted">exciting new projects.</span></p>
                </div>
            </a>
        </div>
    </div>
    <div class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" id="section1">
        <div id="ruiStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
            <a href="/RuiWebsite/index.html" target="_blank">
                <div id="ruiTitle" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter font-Roboto-L"> wordpress template development </div>
                <div class="ruiSpace"> </div>
                <div id="ruiLine"> </div>
                <div class="ruiSpace"> </div>
                <div id="ruiComment1" class="font-Lato-L flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <p><span class="ruiHighlighted">ruiyun</span><span>jiang</span></p>
                </div>
                <div class="ruiSpace"> </div>
                <div id="ruiComment2" class="font-Lato-L flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> graphic design portfolio </div>
            </a>
        </div>
    </div>
    <div class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" id="section2">
        <a href="/MbI/index.html" target="_blank">
            <div id="mbiStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                <div id="mbiTitle" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter font-Roboto-L"> logo development and code development </div>
                <div class="mbiSpace"> </div>
                <div id="mbiLine"> </div>
                <div class="mbiSpace"> </div>
                <div id="mbiContainer" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <div id="mbiLogo">
                        <mbiLogo></mbiLogo>
                    </div>
                    <div id="mbiInternal" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                        <div id="mbiComment1" class="font-Economica-N flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> made by italians </div>
                        <div id="mbiComment2" class="font-Economica-N flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> www.made-by-italians.com </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<main [@toBlur]="menuState" class="blurred">
    <projectToRender></projectToRender>
</main>