<main [@toBlur]="blurStateString">
    <div class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter blurred">
        <div id="spaceHeader">
        </div>
        <article *ngFor="let item of items; let i = index;">
            <p><span class="font-Roboto-B">Role: </span><span class="font-Roboto-L">{{item.role}}</span></p>
            <p><span class="font-Roboto-B">Company/Project: </span><span class="font-Roboto-L"><a href={{item.href}} target="_blank" title={{item.comPro}}>{{item.comPro}}</a></span></p>
            <p><span class="font-Roboto-B">Time: </span><span class="font-Roboto-L">{{item.initialTime}}</span><span class="font-Roboto-L"> - </span>
                <span class="font-Roboto-L">{{item.finalTime}}</span>
            </p>
            <p><span class="font-Roboto-B">Location: </span><span class="font-Roboto-L">{{item.city}}</span><span class="font-Roboto-L"> - </span>
                <span class="font-Roboto-L">{{item.country}}</span>
            </p>
            <div class="font-Roboto-L angular-with-newlines">{{item.description}}</div>
        </article>
        <div id="spaceFooter">
        </div>
    </div>
</main>