<main>
    <div class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter blurred">
        <div id="spaceHeader">
        </div>

        <!--Put anything relevant below this line-->

        <article id="imaginaria" class="firstArticle">
            <h1><a href="../index.html" title="IMAGINARIA 2.0" class="font-Roboto-B workTitle ">imaginaria 2.0</a></h1>
            <p class="font-Roboto-L">
                A complete overhauling of my website with a fully responsive one-page sliding-show design. I used HTML, CSS, Javascript and JQuery and particularly the latter for the handling of animations related to the UI. I used GSAP JS by GreenSock too to have smoother
                animations and less verbose code. I used Velocity.js for the handling of SVG pictures (opacity transitions), TouchSwipe JS and MouseWheel JS for the controls. Regarding the graphic, I collaborated with a designer who provided the visuals
                and mock-ups that I turned into code. My efforts aim to use only Javascript technologies for my project.
            </p>
            <time datetime="2015-08-10" class="font-Roboto-L"> August 2015</time>
        </article>

        <article id="rui" class="internalArticle">
            <h1><a href="../RuiWebsite/index.html" target="_blank" title="Ruiyun Jiang’s portfolio" class="font-Roboto-B">Ruiyun Jiang’s portfolio</a></h1>

            <p class="font-Roboto-L">
                A web portfolio for a London based designer. The client provided mock-ups that I translated in code. Initially I used Bootstrap for the scaffolding and HTML and CSS for the structure and the style. Once I had a responsive static website I wrapped it in
                Wordpress making it dynamic using PHP and the standard CMS functions. I created PHP functions too for complex handling of text and for the contact handling via POST method. The result is a responsive tailored from the ground template which
                is fully integrated in Wordpress.
            </p>
            <time datetime="2015-04-18" class="font-Roboto-L"> April 2015</time>

        </article>

        <article id="italians">
            <h1><a href="../MbI/index.html" target="_blank" title="Made by Italians website" class="font-Roboto-B">Made by Italians website</a></h1>

            <p class="font-Roboto-L">
                A website for an Italian start-up in the field of business promotion. It’s the result of a collaboration with a designer who dealt with the artistic side of the project and provided me with mock-ups that I translated in web pages. My role involved the
                creation and design of the logo with Photoshop and Illustrator, the relationship management with the client and the operations needed for hosting (on One.com). The website is fully responsive and coded with HTML, CSS and Javascript. The
                use of Javascript involved the creation of functions handling the browser selection and an interactive slideshow.
            </p>
            <time datetime="2014-12-20" class="font-Roboto-L"> December 2014</time>

        </article>

        <!--Put anything relevant above this line-->

        <div id="spaceFooter">
        </div>
    </div>
</main>