#mainHeader {
    /*height: 72px;*/
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1px solid #bfbfbf;
}

#logo0 {
    display: inline;
    opacity: 1.0;
    filter: alpha(opacity=1);
}

.logo {
    position: fixed;
    z-index: 1000;
}

#contactText {
    text-align: left;
    position: fixed;
    z-index: 1000;
    text-transform: uppercase;
    -webkit-transition: color 0.8s linear;
    -moz-transition: color 0.8s linear;
    -o-transition: color 0.8s linear;
    -ms-transition: color 0.8s linear;
    transition: color 0.8s linear;
}

.headerText0 {
    color: #000000;
}

#phoneWrap {
    position: fixed;
    z-index: 1000;
    text-align: center;
}

#phoneText {
    -webkit-transition: color 0.8s linear;
    -moz-transition: color 0.8s linear;
    -o-transition: color 0.8s linear;
    -ms-transition: color 0.8s linear;
    transition: color 0.8s linear;
}

.phoneTextCol0 {
    color: #000000;
}

.menuText {
    position: fixed;
    z-index: 1000;
    width: 100px;
    text-align: right;
    text-transform: uppercase;
    -webkit-transition: color 0.8s linear;
    -moz-transition: color 0.8s linear;
    -o-transition: color 0.8s linear;
    -ms-transition: color 0.8s linear;
    transition: color 0.8s linear;
}

#hamburgerContainer {
    position: fixed;
    z-index: 1000;
    right: 0;
}

#hamburger {
    cursor: pointer;
}

#rightMenu {
    position: fixed;
    z-index: 3000;
    top: 0;
    background-color: #ffffff;
    height: 100%;
    box-shadow: -10px 0px 40px -20px #595959;
    border-left: solid 1px #959595;
}

#hamburgerContainerX {
    position: absolute;
    z-index: 1000;
    right: 0;
    cursor: pointer;
}

#hamburgerContainerX i {
    font-size: 15pt;
}

#linksList {
    position: absolute;
    width: 100%;
}

ul#linksList li {
    text-align: center;
}

#socialContainer {
    position: absolute;
    bottom: 10px;
}

.socialLogo {
    position: absolute;
}

#mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
    cursor: pointer;
}

@media screen and (min-width: 1024px) and (orientation:landscape) {
    .headerSpec {
        height: 40px;
        line-height: 40px;
        font-size: 10pt;
        letter-spacing: 2pt;
    }
    .logo {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        background-size: 40px 40px;
    }
    #contactText {
        font-size: 10pt;
        letter-spacing: 2pt;
        line-height: 40px;
        height: 40px;
        width: 120px;
        right: calc(0% + 300px);
    }
    #phoneWrap {
        width: 150px;
        right: calc(0% + 150px);
    }
    .menuText {
        width: 60px;
        right: calc(0% + 40px);
    }
    #hamburgerContainer {
        width: 40px;
    }
    #hamburgerContainerX {
        width: 40px;
    }
    #hamburger {
        height: 20px;
        width: 20px;
    }
    #menuIcon {
        font-size: 15pt;
    }
    #hamburger div:nth-child(2) {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #rightMenu {
        right: -250px;
        width: 200px;
    }
    #linksList {
        bottom: calc(50% - 200px);
        font-size: 16pt;
        letter-spacing: 2pt;
    }
    ul#linksList li {
        height: 100px;
        line-height: 100px;
    }
    #socialContainer {
        width: 200px;
        height: 40px;
    }
    .socialLogo {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
    .socialWrap {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 1024px) and (orientation:landscape) and (max-height: 494px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation:portrait) {
    .headerSpec {
        height: 40px;
        line-height: 40px;
        font-size: 10pt;
        letter-spacing: 2pt;
    }
    .logo {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        background-size: 40px 40px;
        /*background-color: green;*/
    }
    #contactText {
        letter-spacing: 2pt;
        line-height: 40px;
        height: 40px;
        width: 120px;
        /*background-color: #1c3e95;*/
        right: calc(0% + 240px);
    }
    #phoneWrap {
        width: 200px;
        /*background-color: yellow;*/
        right: calc(0% + 40px);
    }
    .menuText {
        display: none;
        width: 100px;
        background-color: #1c3e95;
        right: calc(0% + 40px);
    }
    #hamburgerContainer {
        width: 40px;
    }
    #hamburger {
        height: 20px;
        width: 20px;
    }
    #hamburger div:nth-child(2) {
        margin-top: 8px;
        margin-bottom: 8px;
    }
    #rightMenu {
        right: -250px;
        width: 200px;
    }
    #hamburgerContainerX {
        width: 40px;
        /*background-color: #7f7f7f;*/
    }
    #linksList {
        bottom: calc(50% - 300px);
        font-size: 16pt;
        letter-spacing: 2pt;
        /*background-color: #1c3e95;*/
    }
    ul#linksList li {
        /*background-color: brown;*/
        height: 150px;
        line-height: 100px;
    }
    #socialContainer {
        width: 100%;
        height: 40px;
        /*background-color: yellow;*/
    }
    .socialLogo {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
    .socialWrap {
        width: 40px;
        height: 40px;
        /*background-color: yellowgreen;*/
    }
}

@media screen and (min-width: 768px) and (max-width:1279px) and (orientation:portrait) and (max-height: 494px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}

@media screen and (min-width: 736px) and (max-width:1023px) and (orientation:landscape) {
    .headerSpec {
        height: 40px;
        line-height: 40px;
        font-size: 10pt;
        letter-spacing: 2pt;
    }
    .logo {
        width: 40px;
        height: 40px;
        /*margin-left:10px;*/
        background-size: 40px 40px;
        /*background-color: red;*/
    }
    #contactText {
        display: none;
        font-size: 12pt;
        letter-spacing: 2pt;
        line-height: 54px;
        height: 54px;
        width: 165px;
        /*background-color: #1c3e95;*/
        right: calc(0% + 250px);
    }
    #phoneWrap {
        display: none;
        width: 150px;
        /*background-color: yellow;*/
        right: calc(0% + 100px);
    }
    .menuText {
        display: none;
        width: 100px;
        background-color: #1c3e95;
        right: calc(0% + 100px);
    }
    #hamburgerContainer {
        width: 40px;
    }
    #hamburger {
        height: 40px;
        width: 40px;
    }
    #hamburger div:nth-child(2) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #rightMenu {
        right: -250px;
        width: 200px;
    }
    #hamburgerContainerX {
        width: 40px;
        /*background-color: #7f7f7f;*/
    }
    #linksList {
        bottom: calc(50% - 100px);
        font-size: 14pt;
        letter-spacing: 2pt;
        /*background-color: #1c3e95;*/
    }
    ul#linksList li {
        /*background-color: brown;*/
        height: 50px;
        line-height: 40px;
    }
    #socialContainer {
        width: 200px;
        height: 40px;
        /*background-color: yellow;*/
    }
    .socialLogo {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }
    .socialWrap {
        width: 30px;
        height: 30px;
        /*background-color: yellowgreen;*/
    }
}

@media screen and (min-width: 736px) and (max-width:1023px) and (orientation:landscape) and (max-height: 100px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}

@media screen and (min-width: 414px) and (max-width:767px) and (orientation:portrait) {
    .headerSpec {
        height: 40px;
        line-height: 40px;
        font-size: 10pt;
        letter-spacing: 2pt;
    }
    .logo {
        width: 40px;
        height: 40px;
        /*margin-left:10px;*/
        background-size: 40px 40px;
        /* background-color: grey;*/
    }
    #contactText {
        display: none;
        font-size: 12pt;
        letter-spacing: 2pt;
        line-height: 54px;
        height: 54px;
        width: 165px;
        /*background-color: #1c3e95;*/
        right: calc(0% + 250px);
    }
    #phoneWrap {
        display: none;
        width: 150px;
        /*background-color: yellow;*/
        right: calc(0% + 100px);
    }
    .menuText {
        display: none;
        width: 100px;
        background-color: #1c3e95;
        right: calc(0% + 100px);
    }
    #hamburgerContainer {
        width: 40px;
    }
    #hamburger {
        height: 40px;
        width: 40px;
    }
    #hamburger div:nth-child(2) {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    #rightMenu {
        right: -250px;
        width: 200px;
    }
    #hamburgerContainerX {
        width: 40px;
        /*background-color: #7f7f7f;*/
    }
    #linksList {
        bottom: calc(50% - 200px);
        font-size: 16pt;
        letter-spacing: 2pt;
        /*background-color: #1c3e95;*/
    }
    ul#linksList li {
        /*background-color: brown;*/
        height: 100px;
        line-height: 80px;
    }
    #socialContainer {
        width: 200px;
        height: 40px;
        /*background-color: yellow;*/
    }
    .socialLogo {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
    .socialWrap {
        width: 40px;
        height: 40px;
        /*background-color: yellowgreen;*/
    }
}

@media screen and (min-width: 414px) and (max-width:767px) and (orientation:portrait) and (max-height: 100px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}

@media screen and (max-width:735px) and (orientation:landscape) {
    .headerSpec {
        height: 40px;
        line-height: 40px;
        font-size: 10pt;
        letter-spacing: 2pt;
    }
    .logo {
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
    }
    #contactText {
        display: none;
        font-size: 12pt;
        letter-spacing: 2pt;
        line-height: 54px;
        height: 54px;
        width: 165px;
        right: calc(0% + 250px);
    }
    #phoneWrap {
        display: none;
        width: 150px;
        right: calc(0% + 100px);
    }
    .menuText {
        display: none;
        width: 100px;
        background-color: #1c3e95;
        right: calc(0% + 100px);
    }
    #hamburgerContainer {
        width: 40px;
    }
    #hamburger {
        height: 40px;
        width: 40px;
    }
    #hamburger div:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #rightMenu {
        right: -250px;
        width: 160px;
    }
    #hamburgerContainerX {
        width: 40px;
        /*background-color: #7f7f7f;*/
        /*right:calc(50% - 40px);*/
    }
    #linksList {
        bottom: calc(50% - 68px);
        font-size: 13pt;
        letter-spacing: 1pt;
        /*background-color: #1c3e95;*/
    }
    ul#linksList li {
        /*background-color: brown;*/
        height: 34px;
        line-height: 34px;
    }
    #socialContainer {
        width: 100%;
        height: 40px;
        /*background-color: yellow;*/
    }
    .socialLogo {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }
    .socialWrap {
        width: 30px;
        height: 30px;
        /*background-color: yellowgreen;*/
    }
}

@media screen and (max-width:735px) and (orientation:landscape) and (max-height: 100px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}

@media screen and (max-width:413px) and (orientation:portrait) {
    .headerSpec {
        height: 40px;
        line-height: 40px;
        font-size: 10pt;
        letter-spacing: 2pt;
    }
    .logo {
        width: 40px;
        height: 40px;
        /*margin-left:10px;*/
        background-size: 40px 40px;
        /*background-color: grey;*/
    }
    #contactText {
        display: none;
        font-size: 12pt;
        letter-spacing: 2pt;
        line-height: 54px;
        height: 54px;
        width: 165px;
        /*background-color: #1c3e95;*/
        right: calc(0% + 250px);
    }
    #phoneWrap {
        display: none;
        width: 150px;
        /*background-color: yellow;*/
        right: calc(0% + 100px);
    }
    .menuText {
        display: none;
        width: 100px;
        background-color: #1c3e95;
        right: calc(0% + 100px);
    }
    #hamburgerContainer {
        width: 40px;
    }
    #hamburger {
        height: 40px;
        width: 40px;
    }
    #hamburger div:nth-child(2) {
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #rightMenu {
        right: -250px;
        width: 160px;
    }
    #hamburgerContainerX {
        width: 40px;
        /*background-color: #7f7f7f;*/
    }
    #linksList {
        bottom: calc(50% - 100px);
        font-size: 12pt;
        letter-spacing: 1pt;
        /*background-color: #1c3e95;*/
    }
    ul#linksList li {
        /*background-color: brown;*/
        height: 50px;
        line-height: 40px;
    }
    #socialContainer {
        width: 100%;
        height: 40px;
        /*background-color: yellow;*/
    }
    .socialLogo {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
    }
    .socialWrap {
        width: 30px;
        height: 30px;
        /*background-color: yellowgreen;*/
    }
}

@media screen and (max-width:413px) and (orientation:portrait) and (max-height: 100px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}