<div id="mainHeader" [@toBlur]="blurStateString" class="headerSpec">
    <a GSAPRotate href="/index.html" id="logo0" class="logo blurred">
        <windmillBlack></windmillBlack>
    </a>
    <div id="contactText" class="headerText0 headerSpec font-Roboto-L flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> <span class="blurred">contact me</span> </div>
    <div id="phoneWrap" class="headerSpec blurred"> <a [GSAPBounce]="'parent'" id="phoneText" class="phoneTextCol0 font-Roboto-B" href="tel:00447415882971">0741 588 2971</a> </div>
    <div class="menuText headerText0 font-Roboto-L headerSpec flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> <span class="blurred">menu</span> </div>
    <div id="hamburgerContainer" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter headerSpec blurred">
        <div [GSAPBounce]="'sameElement'" id="hamburger" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" (click)="toggleMenu()">
            <i id="menuIcon" class="fa fa-bars" aria-hidden="true"></i>
        </div>
    </div>
</div>


<div id="rightMenu" [@rightMenu]="menuState" class="" [style.width.px]="menuWidth">
    <div class="closeText font-Roboto-L headerSpec"> close </div>
    <div [GSAPBounce]="'sameElement'" id="hamburgerContainerX" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter headerSpec">
        <div id="hamburgerX" (click)="toggleMenu()"> </div>
    </div>
    <!-- Global Navigation -->
    <nav id="linkNav">
        <ul id="linksList" class="font-Roboto-L">
            <li><a [GSAPBounce]="'parent'" routerLink="/home" routerLinkActive="active" class="zoom">HOME</a></li>
            <li><a [GSAPBounce]="'parent'" routerLink="/works" routerLinkActive="active" class="zoom">WORKS</a></li>
            <li><a [GSAPBounce]="'parent'" routerLink="/about" routerLinkActive="active" class="zoom">ABOUT</a></li>
            <li><a [GSAPBounce]="'parent'" routerLink="/contact" class="zoom">CONTACT</a></li>
        </ul>
    </nav>
    <div id="socialContainer" class="flexContainer flexContainerRow flexContainerRowHAlignSpaceAround flexContainerRowVAlignCenter">
        <div class="socialWrap">
            <a [GSAPBounce]="'parent'" href="https://github.com/Giorgio-IMAGINARIA/" target="_blank" id="gitHub" class="socialLogo">
                <gitHubLogo></gitHubLogo>
            </a>
        </div>
        <div class="socialWrap">
            <a [GSAPBounce]="'parent'" href="http://uk.linkedin.com/pub/giorgio-mazzei/35/b01/a26" target="_blank" id="linkedIn" class="socialLogo">
                <linkedInLogo></linkedInLogo>
            </a>
        </div>
        <div class="socialWrap">
            <a [GSAPBounce]="'parent'" href="https://twitter.com/giorgiomazzei79" target="_blank" id="twitter" class="socialLogo">
                <faceBookLogo></faceBookLogo>
            </a>
        </div>
    </div>
</div>
<div id="mask" [@mask]="menuState" (click)="toggleMenu()"> </div>
<router-outlet></router-outlet>