<div id="sideNav"  class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter flexContainerColumnSpaceBetween blurred">
    <a [@toBlur]="blurStateString">
        <div  id="sideNavButton0" class="sideNavButton sideNavButtonChecked0"> </div>
    </a>
    <a [@toBlur]="blurStateString">
        <div id="sideNavButton1" (click)="changeProject()" class="sideNavButton"> </div>
    </a>
    <a [@toBlur]="blurStateString">
        <div id="sideNavButton2" class="sideNavButton"> </div>
    </a>
</div>