<a href="/index.html" id="logo0" [@toBlur]="menuState" class="logo blurred">
    <windmillBlue></windmillBlue>
</a>
<a href="/index.html" id="logo1" [@toBlur]="menuState" class="logo blurred">
    <windmillRed></windmillRed>
</a>
<a href="/index.html" id="logo2" [@toBlur]="menuState" class="logo blurred">
    <windmillWhite></windmillWhite>
</a>
<div id="contactText" class="headerText0 headerSpec font-Roboto-L"> <span [@toBlur]="menuState" class="blurred">contact me</span> </div>
<div id="phoneWrap" [@toBlur]="menuState" class="headerSpec blurred"> <a id="phoneText" class="phoneTextCol0 font-Roboto-B" href="tel:00447415882971">0741 588 2971</a> </div>
<div class="menuText headerText0 font-Roboto-L headerSpec"> <span [@toBlur]="menuState" class="blurred">menu</span> </div>
<div id="hamburgerContainer" [@toBlur]="menuState" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter headerSpec blurred">
    <div id="hamburger" (click)="toggleMenu()">
        <div class="menuLine menuLineCol0"></div>
        <div class="menuLine menuLineCol0"></div>
        <div class="menuLine menuLineCol0"></div>
    </div>
</div>
<div id="sideNav" [@toBlur]="menuState" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter flexContainerColumnSpaceBetween blurred">
    <a>
        <div id="sideNavButton0" class="sideNavButton sideNavButtonChecked0"> </div>
    </a>
    <a>
        <div id="sideNavButton1" (click)="changeProject()" class="sideNavButton"> </div>
    </a>
    <a>
        <div id="sideNavButton2" class="sideNavButton"> </div>
    </a>
</div>
<div id="rightMenu" [@rightMenu]="menuState" class="" [style.width.px]="menuWidth">
    <div class="closeText font-Roboto-L headerSpec"> close </div>
    <div id="hamburgerContainerX" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter headerSpec">
        <div id="hamburgerX" (click)="toggleMenu()"> </div>
    </div>
    <!-- Global Navigation -->
    <nav id="linkNav">
        <ul id="linksList" class="font-Roboto-L">
            <li><a href="index.html" class="zoom">HOME</a></li>
            <li><a href="/Works/works.html" class="zoom">WORKS</a></li>
            <li><a href="/About/about.html" class="zoom">ABOUT</a></li>
            <li><a href="/Contacts/contacts.php" class="zoom">CONTACT</a></li>
        </ul>
    </nav>
    <div id="socialContainer" class="flexContainer flexContainerRow flexContainerRowHAlignSpaceAround flexContainerRowVAlignCenter">
        <div class="socialWrap">
            <a href="https://github.com/Giorgio-IMAGINARIA/" target="_blank" id="gitHub" class="socialLogo">
                <gitHubLogo></gitHubLogo>
            </a>
        </div>
        <div class="socialWrap">
            <a href="http://uk.linkedin.com/pub/giorgio-mazzei/35/b01/a26" target="_blank" id="linkedIn" class="socialLogo">
              <linkedInLogo></linkedInLogo>
            </a>
        </div>
        <div class="socialWrap">
            <a href="https://twitter.com/giorgiomazzei79" target="_blank" id="twitter" class="socialLogo">
                <faceBookLogo></faceBookLogo>
            </a>
        </div>
    </div>
</div>

<div id="contentsReserve">
    <div class="section" id="section0">
        <div id="homeStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter">
            <a href="/About/about.html" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter">
                <div id="homeTitle" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter font-Roboto-L"> imaginaria </div>
                <div id="homeLine"> </div>
                <div id="homeComment" class="font-Roboto-L">
                    <p>A portfolio of <span class="homeHighlighted">Giorgio Mazzei</span>, a front end web developer with skills and knowledge encompassing all the last web technologies, looking forward to <span class="homeHighlighted">exciting new projects.</span></p>
                </div>
            </a>
        </div>
    </div>
    <div class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" id="section1">
        <div id="ruiStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
            <a href="/RuiWebsite/index.html" target="_blank">
                <div id="ruiTitle" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter font-Roboto-L"> wordpress template development </div>
                <div class="ruiSpace"> </div>
                <div id="ruiLine"> </div>
                <div class="ruiSpace"> </div>
                <div id="ruiComment1" class="font-Lato-L flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <p><span class="ruiHighlighted">ruiyun</span><span>jiang</span></p>
                </div>
                <div class="ruiSpace"> </div>
                <div id="ruiComment2" class="font-Lato-L flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> graphic design portfolio </div>
            </a>
        </div>
    </div>
    <div class="section flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter" id="section2">
        <a href="/MbI/index.html" target="_blank">
            <div id="mbiStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                <div id="mbiTitle" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter font-Roboto-L"> logo development and code development </div>
                <div class="mbiSpace"> </div>
                <div id="mbiLine"> </div>
                <div class="mbiSpace"> </div>
                <div id="mbiContainer" class="flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter">
                    <div id="mbiLogo">
                        <mbiLogo></mbiLogo>
                    </div>
                    <div id="mbiInternal" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter">
                        <div id="mbiComment1" class="font-Economica-N flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> made by italians </div>
                        <div id="mbiComment2" class="font-Economica-N flexContainer flexContainerRow flexContainerRowHAlignCenter flexContainerRowVAlignCenter"> www.made-by-italians.com </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<main [@toBlur]="menuState" class="blurred"><projectToRender></projectToRender></main>
<div id="mask" [@mask]="menuState" (click)="toggleMenu()"> </div>
