<div class="section" id="section0">
    <div id="homeStrip" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter">
        <a href="/About/about.html" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter">
            <div id="homeTitle" class="flexContainer flexContainerColumn flexContainerColumnHAlignCenter flexContainerColumnVAlignCenter font-Roboto-L"> imaginaria </div>
            <div id="homeLine"> </div>
            <div id="homeComment" class="font-Roboto-L">
                <p>A portfolio of <span class="homeHighlighted">Giorgio Mazzei</span>, a front end web developer with skills and knowledge encompassing all the last web technologies, looking forward to <span class="homeHighlighted">exciting new projects.</span></p>
            </div>
        </a>
    </div>
</div>
