/* ----------- Desktops Media Queries----------- */


/*********************************************************************************
*****************************(max-height: 622px)**********************************
**********************************************************************************/

@media screen and (max-height: 622px) {
    #homeLine {
        display: none;
    }
    #homeComment {
        display: none;
    }
    #linksList {
        display: none;
    }
}


/*********************************************************************************
********************************(max-height: 494px)*******************************
**********************************************************************************/

@media screen and (max-height: 300px) {
    #sideNav {
        display: none;
    }
}