/* ----------- Desktops Media Queries----------- */


/*********************************************************************************
*****************************(max-height: 622px)**********************************
**********************************************************************************/

@media screen and (max-height: 200px) {
    #homeLine {
        display: none;
    }
    #homeComment {
        display: none;
    }
}


/*********************************************************************************
********************************(max-height: 494px)*******************************
**********************************************************************************/

@media screen and (max-height: 100px) {
    #linksList {
        display: none;
    }
    #socialContainer {
        display: none;
    }
}