/*-----------------------------------------------------Header---------------------------------------------------------*/

.headerSpec{
    height:80px;
    line-height:80px;
    font-size: 12pt;
    letter-spacing: 2pt;
}
.logo{
    width: 80px;
    margin-left:10px;
    background-size: 80px 80px;
    /*background-color: yellow;*/
}

#contactText{
    width:165px;
    /*background-color: #1c3e95;*/
    right:calc(0% + 350px);
}

#phoneWrap{
    width:150px;
    /*background-color: yellow;*/
    right:calc(0% + 200px);
}

.menuText{
    width:100px;
    /*background-color: #1c3e95;*/
    right:calc(0% + 100px);
}

#hamburgerContainer{
    width:100px;
    /*background-color: #7f7f7f;*/
}


/*
the hamburger button
*/
#hamburger {
    height: 22px;
    width: 38px;
    /*background-color: red;*/
}

/*
The stripes in the hamburger button
*/
.menuLine{
    height: 2px;
}

#hamburger div:nth-child(2) {
    margin-top:8px;
    margin-bottom:8px;
}

/*-------------------------------------------------Main Content-------------------------------------------------------*/
main div{
    width:100%;
}
#spaceHeader{
    height:81px;
}
#spaceFooter{
    height:50px;
}
/*---------------------------------------------------Right-Menu-------------------------------------------------------*/

#rightMenu{
    right:-250px;
    width:200px;
}

#hamburgerContainerX{
    width:100px;
    /*background-color: #7f7f7f;*/
}

#hamburgerX{
    height: 22px;
    width: 38px;
    /*background-color:red;*/
}

#hamburgerX:before,#hamburgerX:after{
    width:30px;
    height:2px;
    top:10px;
}

#hamburgerX:before{
    left:4px;
}
#hamburgerX:after{
    right:4px;
}

#linksList{
    bottom:calc(50% - 200px);
    font-size: 16pt;
    letter-spacing: 2pt;
    /*background-color: #1c3e95;*/
}
ul#linksList li{
    /*background-color: brown;*/
    height:100px;
    line-height:100px;
}
#socialContainer{
    width:200px;
    height:80px;
    /*background-color: yellow;*/
}
.socialLogo{
    width: 40px;
    height:40px;
    background-size: 40px 40px;
}

.socialWrap{
    width: 40px;
    height:40px;
    /*background-color: yellowgreen;*/
}

/*********************************************************************************
*****************************(max-height: 622px)**********************************
**********************************************************************************/
@media screen and (max-height: 622px) {

    #linksList{
        display:none;
    }

}


