/*-----------------------------------------------------Header---------------------------------------------------------*/
.headerSpec{
    height:80px;
    line-height:80px;
    font-size: 12pt;
    letter-spacing: 2pt;
}
.logo{
    width: 80px;
    height:80px;
    background-size: 80px 80px;
    /*background-color: red;*/
}

#contactText{
    display:none;
    font-size: 12pt;
    letter-spacing: 2pt;
    line-height: 54px;
    height:54px;
    width:165px;
    /*background-color: #1c3e95;*/
    right:calc(0% + 250px);
}

#phoneWrap{
    display:none;
    width:150px;
    /*background-color: yellow;*/
    right:calc(0% + 100px);
}

.menuText{
    display:none;
    width:100px;
    background-color: #1c3e95;
    right:calc(0% + 100px);
}

#hamburgerContainer{
    width:80px;
    /*background-color: #7f7f7f;*/
}


/*
the hamburger button
*/
#hamburger {
    height: 39px;
    width: 60px;
    /*background-color: red;*/
}

/*
The stripes in the hamburger button
*/
.menuLine{
    height: 3px;
}

#hamburger div:nth-child(2) {
    margin-top:15px;
    margin-bottom:15px;
}

/*-------------------------------------------------Main Content-------------------------------------------------------*/

#spaceHeader{
    height:81px;
}
#spaceFooter{
    height:40px;
}

/*---------------------------------------------------Right-Menu-------------------------------------------------------*/

#rightMenu{
    right:-250px;
    width:200px;
}
#hamburgerContainerX{
    width:80px;
    /*background-color: #7f7f7f;*/
}

#hamburgerX{
    height: 22px;
    width: 38px;
    /*background-color:red;*/
}

#hamburgerX:before,#hamburgerX:after{
    width:30px;
    height:2px;
    top:10px;
}

#hamburgerX:before{
    left:4px;
}
#hamburgerX:after{
    right:4px;
}

#linksList{
    bottom:calc(50% - 100px);
    font-size: 14pt;
    letter-spacing: 2pt;
    /*background-color: #1c3e95;*/
}
ul#linksList li{
    /*background-color: brown;*/
    height:50px;
    line-height:40px;
}
#socialContainer{
    width:200px;
    height:80px;
    /*background-color: yellow;*/
}
.socialLogo{
    width: 30px;
    height:30px;
    background-size: 30px 30px;
}

.socialWrap{
    width: 30px;
    height:30px;
    /*background-color: yellowgreen;*/
}



/*********************************************************************************
********************************(max-height: 494px)*******************************
**********************************************************************************/
@media screen and (max-height: 100px) {

    #linksList{
        display:none;
    }

    #socialContainer{
        display:none;
    }

}
